.fon {
   position:absolute;
   z-index: -1;
}

.info__fon {
   color: white;
}

.info__text {
   color: white;
   width: 391px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.information {
   padding-top: 87px;
   padding-left: 58px;
}

.main__page-btn {
   width: 170px;
   height: 33px;
   padding: 8px 42px;
   color: #FFF;
   text-align: center;
   font-family: Oswald;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 100%; /* 16px */
   letter-spacing: 0.8px;
   background-color: #851E21;
   border-radius: 20px;
   margin-bottom: 346px;
}